@using WebApplication.Extentions;
@model WebApplication.Models.FamilyAddMemberViewModel
@{
    ViewBag.Title = I18N.View.Family.AddMember_Title;
}

<div class="post-single">
    <div class="post-details">
        <div class="row">
            <div class="pull-left"><h2>@ViewBag.Title</h2></div>
        </div>
        <div class="post-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>@I18N.View.Family.AddMember_Subtitle</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.InviteCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.InviteCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InviteCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@I18N.GenericAction.add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>


            }

            @{Html.RenderAction("_CreateMember2Add", Model.InviteUser);}
        </div>
    </div>
</div>


