@model WebApplication.Core.Family

@{
    ViewBag.Title = I18N.View.Family.Delete_Title;
}

<div class="post-single">
    <div class="post-details">
        <div class="row">
            <div class="pull-left"><h2>@ViewBag.Title</h2></div>
        </div>
        <div class="post-body">

            <h3>@I18N.View.Family.Delete_Subtitle</h3>
            <div>
                <h4>@I18N.View.Family.Delete_Subtitle2</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="@I18N.GenericAction.delete" class="btn btn-primary" /> |
                        @Html.ActionLink(I18N.GenericAction.back2list, "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
