@model IEnumerable<WebApplication.Core.Family>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tbody>
        @if (ViewBag.FamilyMembers != null)
        {
            foreach (var item in ViewBag.FamilyMembers)
            {
        <tr id="row_@item.Id">
            <td>@item.Name</td>
            <td>@item.Level</td>
            <td>@item.Email</td>
            <td><a href="a" class="btn btn-danger" onclick="ConfirmDelete(@item.Id)"></a></td>
            <td><a href="a" class="btn btn-success" onclick="AddEditFamilyMember(@item.Id)"></a></td>
        </tr>
            }
        }
    </tbody>
</table>