@model WebApplication.Models.ApplicationUser
@using WebApplication.Extentions;
@{
    ViewBag.Title = I18N.View.Family.RemoveMember_Title;
}

<div class="post-single">
    <div class="post-details">
        <div class="row">
            <div class="pull-left"><h1>@ViewBag.Title</h1></div>
        </div>
        <div class="post-body">

            <h3>@I18N.View.Family.RemoveMember_Subtitle</h3>
            <div>
                <h4>@I18N.View.Family.RemoveMember_Subtitle2</h4>
                <hr />
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BirthDay)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BirthDay)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Family.Id)
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-actions no-color">
                        <input type="submit" value="@I18N.GenericAction.delete" class="btn btn-default" /> |
                        @if (User.IsInRole("Head Coach"))
                        {
                            @Html.ActionLink(I18N.GenericAction.back2list, "Details")
                        }
                        @if (User.Identity.IsFamilyOwner())
                        {
                            @Html.ActionLink(I18N.GenericAction.back2list, "MyFamily")
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
