
@{
    ViewBag.Title = I18N.WebApplication.Constitution_Title;
}

<h2>@I18N.WebApplication.Constitution_Title</h2>
<h4>@I18N.WebApplication.Constitution_Title_FairPlayPolicy</h4>
<p>@I18N.WebApplication.Constitution_FairPlayPolicy1</p>
<p>@I18N.WebApplication.Constitution_FairPlayPolicy2</p>
<p>@I18N.WebApplication.Constitution_FairPlayPolicy3</p>
<h4>@I18N.WebApplication.Constitution_Title_CodeOfConduct</h4>
<ol>
    <li>@I18N.WebApplication.Constitution_CodeOfConduct_Li1</li>
    <li>@I18N.WebApplication.Constitution_CodeOfConduct_Li2</li>
    <li>@I18N.WebApplication.Constitution_CodeOfConduct_Li3</li>
    <li>@I18N.WebApplication.Constitution_CodeOfConduct_Li4</li>
    <li>@I18N.WebApplication.Constitution_CodeOfConduct_Li5</li>
    <li>@I18N.WebApplication.Constitution_CodeOfConduct_Li6</li>
    <li>@I18N.WebApplication.Constitution_CodeOfConduct_Li7</li>
</ol>
<p><strong>@I18N.WebApplication.Constitution_Coaches</strong> @I18N.WebApplication.Constitution_Coaches_Text</p>
<p>
    <strong>@I18N.WebApplication.Constitution_Parents</strong>
    <ul>
        <li>@I18N.WebApplication.Constitution_Parents_Li1</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li2</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li3</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li4</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li5</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li6</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li7</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li8</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li9</li>
        <li>@I18N.WebApplication.Constitution_Parents_Li10</li>
    </ul>
</p>
<p>
    <strong>@I18N.WebApplication.Constitution_KeepSportFun</strong>
</p>
<p>
    @I18N.WebApplication.Constitution_TripleStars
</p>