@using Microsoft.AspNet.Identity;
@model WebApplication.Core.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event - @Model.RegisterUsers.Count/@(Model.CoachEvents.Count*8)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<div class="row">
    @if (User.IsInRole("Coach"))
    {
        if (!Model.CoachEvents.Any(ce => ce.UserId.Equals(User.Identity.GetUserId()))) //Subscribe as a coach
        {
            <div class="col-xs-12 col-md-3 mb-1">
                @Html.ActionLink("Join as a Coach", "CoachJoin", new { id = Model.Id }, new { @class = "btn btn-success btn-block" })
            </div>
        }
        else //Unsubscribe button
        {
            <div class="col-xs-12 col-md-3 mb-1">
                @Html.ActionLink("Leave", "CoachLeave", new { id = Model.Id }, new { @class = "btn btn-secondary     btn-block" })
            </div>
        }
    }
    else
    {

    }
    @if (User.IsInRole("Head Coach"))
    {
        @*<div class="col-xs-12 col-md-3  mb-1">

            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-block" })

        </div>*@
        <div class="col-xs-12 col-md-3  mb-1">

            @Html.ActionLink("Cancel", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-block" })

        </div>
    }

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
