@model IEnumerable<WebApplication.Core.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (User.IsInRole("Head Coach"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm" })
    </p>
}
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/logo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @foreach (var level in item.Levels)
                            {
                                @Html.DisplayFor(modelItem => level.Name)<text> /</text>
                            }
                        </h6>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                            <br />
                            Start : @Html.DisplayFor(modelItem => item.StartDate)
                            <br />
                            End : @Html.DisplayFor(modelItem => item.EndDate)
                        </p>
                    </div>
                    @*@if (User.IsInRole("Head Coach"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
        }*@

                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-block" })

                    @*@if (User.IsInRole("Head Coach"))
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
        }*@
                </div>
            </div>
        }
        

    </div>
