@using PagedList.Mvc
@model PagedList.IPagedList<WebApplication.Core.Event>
@{
    ViewBag.Title = I18N.View.Event.Index_Title;
}
@Styles.Render("~/Content/pagedlist")
<div class="post-single">
    <div class="post-details">
        <div class="row">
            <div class="pull-left"><h1>@ViewBag.Title</h1></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="float-md-right">
                    @if (User.IsInRole("Head Coach"))
                    {
                        <p>
                            @Html.ActionLink(I18N.GenericAction.create_new, "Create", null, new { @class = "btn btn-primary btn-sm" })
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="post-body">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="~/Content/images/logo.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    @foreach (var level in item.Levels)
                                    {
                                        @Html.DisplayFor(modelItem => level.Name)<text> /</text>
                                    }
                                </h6>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Description)
                                    <br />
                                    @I18N.View.Event.Index_From : @Html.DisplayFor(modelItem => item.StartDate)
                                    <br />
                                    @I18N.View.Event.Index_To : @Html.DisplayFor(modelItem => item.EndDate)
                                </p>
                            </div>
                            @*@if (User.IsInRole("Head Coach"))
                                {
                                    @Html.ActionLink(I18N.Core.GenericAction.edit, "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                }*@
                            @Html.ActionLink(I18N.GenericAction.details, "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-block" })
                            @*@if (User.IsInRole("Head Coach"))
                                {
                                    @Html.ActionLink(I18N.Core.GenericAction.delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                                }*@
                        </div>
                    </div>
                }
            </div>
            <div class="page-count">
                @I18N.GenericLabel.page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @I18N.GenericLabel.of @Model.PageCount
            </div>
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sort = ViewBag.CurrentSort, search = ViewBag.CurrentSearch }))
            </div>
        </div>
    </div>
</div>
