@model WebApplication.Models.ChangeLevelViewModel
@{
    ViewBag.Title = "Change Level";
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("ChangeLevel", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Level Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedLevel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedLevel, new SelectList(Model.Levels, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedLevel, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change level" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}