@model WebApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="row">
        <div class="col">
            <div class="float-md-left">
                <h4>Change your account settings</h4>
            </div>
            <div class="float-md-right">
                @Html.ActionLink(I18N.View.User.Action_DownloadMyData, "DownloadMyData", "Account", null, new { @class = "btn btn-secondary btn-sm" })
                @Html.ActionLink(I18N.View.User.Action_DeleteAccount, "Delete", "Account", null, new { @class = "btn btn-danger btn-sm" })
            </div>
        </div>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @if (!User.IsInRole("Head Coach"))
        {
            <dt>Level:</dt>
            <dd>
                @if (Model.Level == null)
                {
                    @I18N.GenericLabel.NotDefine;
                }
                else
                {
                    @Model.Level.Name
                } [
                @Html.ActionLink("Change your level", "ChangeLevel")
                ]
            </dd>
        }
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
        *@
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[ @Html.ActionLink("Add", "AddPhoneNumber") ]</text>
            }
        </dd>
        <dt>Two-Factor Authentication:</dt>
        <dd>
            @*<p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }
        </dd>
    </dl>
</div>
